<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.ertelecom.agent" platformBuildVersionCode="34" platformBuildVersionName="14">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:maxSdkVersion="32" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC" android:requiredFeature="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <queries>
        <package android:name="com.samsung.android.spay"/>
        <package android:name="com.ertelecom.domrutv"/>
        <package android:name="ru.domru.wifi"/>
        <package android:name="ru.megafon.mlk"/>
        <package android:name="com.ertelecom.smarthome"/>
        <package android:name="com.viber.voip"/>
        <package android:name="com.facebook.katana"/>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice"/>
        </intent>
        <intent>
            <data android:host="qr.nspk.ru" android:scheme="*"/>
            <action android:name="android.intent.action.VIEW"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="com.yandex.auth.action.YA_SDK_LOGIN"/>
        </intent>
        <package android:name="com.yandex.browser"/>
        <package android:name="ru.yandex.searchplugin"/>
        <package android:name="com.yandex.searchapp"/>
        <package android:name="ru.yandex.taxi"/>
        <package android:name="ru.yandex.mail"/>
        <package android:name="ru.yandex.disk"/>
        <package android:name="com.yandex.bank"/>
        <package android:name="ru.yandex.key"/>
        <package android:name="ru.yandex.auth.client"/>
        <package android:name="com.google.android.apps.maps"/>
        <package android:name="ru.sberbankmobile"/>
        <intent>
            <action android:name="com.apptouch.intent.action.update_hms"/>
        </intent>
        <intent>
            <action android:name="com.huawei.appmarket.intent.action.AppDetail"/>
        </intent>
        <package android:name="com.hisilicon.android.hiRMService"/>
        <intent>
            <action android:name="com.huawei.hms.core"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <permission android:name="com.ertelecom.agent.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.ertelecom.agent.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <permission android:name="com.ertelecom.agent.permission.PROCESS_PUSH_MSG" android:protectionLevel="signature"/>
    <permission android:name="com.ertelecom.agent.permission.PUSH_PROVIDER" android:protectionLevel="signature"/>
    <permission android:name="com.ertelecom.agent.permission.PUSH_WRITE_PROVIDER" android:protectionLevel="signature"/>
    <uses-permission android:name="com.ertelecom.agent.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="com.ertelecom.agent.permission.PUSH_PROVIDER"/>
    <meta-data android:name="com.huawei.hms.min_api_level:apptouch:apptouch" android:value="1"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="ru.agima.mobile.domru.App" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
        <service android:enabled="false" android:exported="false" android:name="com.google.android.gms.metadata.ModuleDependencies">
            <intent-filter>
                <action android:name="com.google.android.gms.metadata.MODULE_DEPENDENCIES"/>
            </intent-filter>
            <meta-data android:name="photopicker_activity:0:required" android:value=""/>
        </service>
        <provider android:authorities="com.ertelecom.agent.fileprovider" android:exported="false" android:grantUriPermissions="true" android:name="ru.agima.mobile.domru.CustomFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <activity android:exported="true" android:launchMode="singleTask" android:name="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity" android:screenOrientation="portrait" android:theme="@style/Theme.App.Starting" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="app"/>
                <data android:host="com.ertelecom.agent"/>
                <data android:scheme="domru"/>
            </intent-filter>
            <intent-filter android:autoVerify="true" android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="dom.ru"/>
                <data android:host="domru.ru"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:pathPrefix="/payments"/>
                <data android:pathPrefix="/internet"/>
                <data android:pathPrefix="/bundles"/>
                <data android:pathPrefix="/login"/>
                <data android:pathPrefix="/domru-tv"/>
                <data android:pathPrefix="/promo"/>
                <data android:pathPrefix="/service/agent"/>
                <data android:pathPrefix="/api/consultant"/>
                <data android:pathPrefix="/catchup"/>
                <data android:pathPrefix="/lk"/>
                <data android:pathPrefix="/chat"/>
                <data android:pathPrefix="/faq"/>
                <data android:pathPrefix="/movix-new"/>
                <data android:pathPrefix="/domrubonus"/>
            </intent-filter>
        </activity>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_perm" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_PERM" android:roundIcon="@mipmap/ic_launcher_perm_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_irkutsk" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_IRKUTSK" android:roundIcon="@mipmap/ic_launcher_irkutsk_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_samara" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_SAMARA" android:roundIcon="@mipmap/ic_launcher_samara_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_nn" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_NN" android:roundIcon="@mipmap/ic_launcher_nn_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_ekat" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_EKAT" android:roundIcon="@mipmap/ic_launcher_ekat_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_spb" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_SPB" android:roundIcon="@mipmap/ic_launcher_spb_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_msk" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_MSK" android:roundIcon="@mipmap/ic_launcher_msk_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_5" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_5" android:roundIcon="@mipmap/ic_launcher_5_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_4" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_4" android:roundIcon="@mipmap/ic_launcher_4_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_3" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_3" android:roundIcon="@mipmap/ic_launcher_3_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher_2" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.ICON_2" android:roundIcon="@mipmap/ic_launcher_2_round" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity-alias android:enabled="true" android:exported="true" android:name="com.ertelecom.mydomru.setting.icon.LauncherIconType.DEFAULT" android:targetActivity="ru.agima.mobile.domru.presentationLayer.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:excludeFromRecents="true" android:label="" android:launchMode="singleInstance" android:name="ru.agima.mobile.domru.ui.activity.transparent.WidgetSetupActivity" android:theme="@style/Theme.Transparent"/>
        <uses-library android:name="android.test.base" android:required="false"/>
        <uses-library android:name="android.test.mock" android:required="false"/>
        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="domru_chat"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/ic_notifications"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/splash"/>
        <meta-data android:name="com.huawei.messaging.default_notification_icon" android:resource="@drawable/ic_notifications"/>
        <meta-data android:name="com.huawei.messaging.default_notification_color" android:resource="@color/splash"/>
        <receiver android:exported="false" android:name="ru.agima.mobile.domru.ui.widget.WhiteWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/white_widget_info"/>
        </receiver>
        <receiver android:exported="false" android:name="ru.agima.mobile.domru.ui.widget.WhiteSmallWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/white_small_widget_info"/>
        </receiver>
        <receiver android:exported="false" android:name="ru.agima.mobile.domru.ui.widget.BlackWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/black_widget_info"/>
        </receiver>
        <receiver android:exported="false" android:name="ru.agima.mobile.domru.ui.widget.BlackSmallWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/black_small_widget_info"/>
        </receiver>
        <meta-data android:name="asset_statements" android:resource="@string/asset_statements"/>
        <meta-data android:name="spay_sdk_api_level" android:value="2.15"/>
        <meta-data android:name="debug_mode" android:value="N"/>
        <meta-data android:name="io.sentry.auto-init" android:value="false"/>
        <provider android:authorities="com.ertelecom.agent.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="ru.agima.mobile.domru.startup.DaggerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.TimberInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.ThemeInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.NotificationInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.DebugViewInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.ShortcutsInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.SentryInitializer" android:value="androidx.startup"/>
            <meta-data android:name="ru.agima.mobile.domru.startup.AnalyticsUserListenerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.ertelecom.mydomru.campaign.data.startup.CampaignAnalyticsInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.ertelecom.mydomru.ui.startup.PersonalizationInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.ertelecom.mydomru.ui.startup.UriHandlerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="com.ertelecom.mydomru.remoteConfig.common.startup.ConfigInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="net.danlew.android.joda.JodaTimeInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:exported="false" android:name="com.ertelecom.mydomru.push.hms.HuaweiMessagingProxyService">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="push_kit_auto_init_enabled" android:value="true"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.ertelecom.mydomru.pincode.ui.activity.CheckPinCodeActivity" android:screenOrientation="portrait"/>
        <provider android:authorities="com.ertelecom.agent.chatfileprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.ertelecom.mydomru.chat.data2.ChatFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/chat_filepaths"/>
        </provider>
        <service android:exported="false" android:name="com.ertelecom.mydomru.push.gms.FirebaseMessagingProxyService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.ertelecom.mydomru.pay.google.GooglePayLauncherActivity" android:theme="@style/PaymentSheetBaseTheme"/>
        <activity android:configChanges="orientation" android:name="com.ertelecom.mydomru.utils.android.media.YouTubeActivity"/>
        <provider android:authorities="com.ertelecom.agent.utils.android.downloadprovider" android:exported="false" android:grantUriPermissions="true" android:name="com.ertelecom.mydomru.utils.android.download.DownloadFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths"/>
        </provider>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.ktx.FirebaseInappmessagingDisplayLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.display.FirebaseInAppMessagingDisplayRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.ktx.FirebasePerfLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.ktx.FirebaseMessagingLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.ktx.FirebaseDynamicLinksLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.FirebaseDynamicLinksKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.ktx.FirebaseAnalyticsLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.ktx.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.ktx.FirebaseConfigLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.inappmessaging.FirebaseInAppMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:exported="true" android:label="ShowkaseBrowserActivity" android:name="com.airbnb.android.showkase.ui.ShowkaseBrowserActivity" android:theme="@style/Theme.App.NoActionBar"/>
        <activity android:label="" android:name="com.yandex.authsdk.internal.AuthSdkActivity" android:theme="@style/Theme.AuthSdk.Transparent"/>
        <activity android:launchMode="singleTop" android:name="com.yandex.authsdk.internal.ChromeTabLoginActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:name="com.yandex.authsdk.internal.WebViewLoginActivity" android:theme="@style/Theme.AuthSdk"/>
        <activity android:exported="true" android:name="com.yandex.authsdk.internal.ChromeTabDataActivity" android:theme="@style/Theme.AuthSdk.Transparent">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="yxd167512b6d154fe28b5ed14341b5d15b.oauth.yandex.ru" android:path="/auth/finish" android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:path="/auth/finish" android:scheme="yxd167512b6d154fe28b5ed14341b5d15b"/>
            </intent-filter>
        </activity>
        <meta-data android:name="com.yandex.auth.CLIENT_ID" android:value="d167512b6d154fe28b5ed14341b5d15b"/>
        <meta-data android:name="com.yandex.auth.OAUTH_HOST" android:value="oauth.yandex.ru"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED" android:value="true"/>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:enabled="true" android:exported="false" android:name="com.yandex.metrica.MetricaService" android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data android:name="metrica:api:level" android:value="106"/>
        </service>
        <provider android:authorities="com.ertelecom.agent.appmetrica.preloadinfo.retail" android:enabled="true" android:exported="true" android:name="com.yandex.metrica.PreloadInfoContentProvider" android:process=":Metrica"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.sessions.SessionLifecycleService"/>
        <property android:name="android.adservices.AD_SERVICES_CONFIG" android:resource="@xml/ga_ad_services_config"/>
        <provider android:authorities="com.ertelecom.agent.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <activity android:exported="true" android:name="androidx.compose.ui.tooling.PreviewActivity"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.ertelecom.agent.SentryInitProvider" android:exported="false" android:name="io.sentry.android.core.SentryInitProvider"/>
        <provider android:authorities="com.ertelecom.agent.SentryPerformanceProvider" android:exported="false" android:initOrder="200" android:name="io.sentry.android.core.SentryPerformanceProvider"/>
        <uses-library android:name="android.ext.adservices" android:required="false"/>
        <meta-data android:name="com.huawei.hms.client.service.name:location" android:value="location:6.11.0.301"/>
        <meta-data android:name="com.huawei.hms.min_api_level:location:location" android:value="1"/>
        <meta-data android:name="com.huawei.hms.client.bi.setting" android:value="true"/>
        <meta-data android:name="com.huawei.hms.min_api_level:com.huawei.hms:location:location" android:value="1"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.huawei.hms.support.api.push.PushMsgReceiver" android:permission="com.ertelecom.agent.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.huawei.hms.support.api.push.PushReceiver" android:permission="com.ertelecom.agent.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:enabled="true" android:exported="true" android:name="com.huawei.hms.support.api.push.service.HmsMsgService" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG"/>
                <action android:name="com.huawei.push.msg.PASSBY_MSG"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.ertelecom.agent.huawei.push.provider" android:exported="true" android:name="com.huawei.hms.support.api.push.PushProvider" android:readPermission="com.ertelecom.agent.permission.PUSH_PROVIDER" android:writePermission="com.ertelecom.agent.permission.PUSH_WRITE_PROVIDER"/>
        <meta-data android:name="com.huawei.hms.client.service.name:push" android:value="push:6.11.0.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:push:push" android:value="1"/>
        <activity android:exported="false" android:name="com.huawei.hms.support.api.push.TransActivity"/>
        <meta-data android:name="com.huawei.hms.jos.versioncode" android:value="61000300"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <provider android:authorities="com.ertelecom.agent.aaidinitprovider" android:exported="false" android:initOrder="500" android:name="com.huawei.hms.aaid.InitProvider"/>
        <meta-data android:name="com.huawei.hms.client.service.name:opendevice" android:value="opendevice:6.11.0.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:opendevice:push" android:value="1"/>
        <meta-data android:name="com.huawei.hms.client.service.name:base" android:value="base:6.9.0.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:base:hmscore" android:value="1"/>
        <meta-data android:name="availableHMSCoreInstaller" android:value="yes"/>
        <provider android:authorities="com.ertelecom.agent.hms.update.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.huawei.hms.update.provider.UpdateProvider"/>
        <meta-data android:name="availableLoaded" android:value="yes"/>
        <provider android:authorities="com.ertelecom.agent.AGCInitializeProvider" android:exported="false" android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"/>
        <service android:exported="false" android:name="com.huawei.agconnect.core.ServiceDiscovery"/>
        <activity android:configChanges="orientation|screenSize" android:exported="false" android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar"/>
            <meta-data android:name="hnc-theme" android:value="androidhnext:style/Theme.Magic.Translucent.NoTitleBar"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent"/>
            <meta-data android:name="hnc-theme" android:value="androidhnext:style/Theme.Magic.Translucent"/>
        </activity>
        <provider android:authorities="com.ertelecom.agent.updateSdk.fileProvider" android:exported="false" android:grantUriPermissions="true" android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"/>
        <activity android:configChanges="fontScale|layoutDirection|locale|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:name="com.huawei.hms.activity.BridgeActivity" android:screenOrientation="behind" android:theme="@style/Base_Translucent">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.huawei.hms.activity.EnableServiceActivity"/>
        <meta-data android:name="componentverify_ag_cbg_root" android:value="@string/ag_sdk_cbg_root"/>
        <meta-data android:name="io.sentry.gradle-plugin-integrations" android:value="DatabaseInstrumentation,FileIOInstrumentation,OkHttpInstrumentation,ComposeInstrumentation,LogcatInstrumentation"/>
    </application>
</manifest>